
{% extends "layout.html" %}

{% block body %}
  <span></span>
  <div class="Welcome">
    <h1>Welcome {{session["username"]|title}}!</h1>
  </div>
  <div class="TableDiv">
    <table class="Table">
      {% if shiftCount > 0 %}
        {% include "includes/_adminTableHeader.html" %}
        {% for n in range(0, shiftCount) %}
          {% include "includes/_adminTableRow.html" %}
        {% endfor %}
      {% else%}
        {% include "includes/_noShiftMessage.html" %}
      {% endif %}
    </table>
  </div>
{% endblock %}
