{% extends "layout.html" %}

{% block body %}
<div class="LogInContainer">
    <h1 class="Heading">
      Welcome to <br>ImberPoolTest
    </h1>
      <ul class="InternalContainer">
        <form id="LogIn" method="POST">
          <li>
            <dir class="FormGroup" id="userName">{{ form.UserName(placeholder="Username") }}</dir>
          </li>
            {% if form.UserName.errors %}
              <ul class="errors">
                {% for error in form.UserName.errors %}
                  <li class="error"><strong>Error:</strong>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="errors">
                {% for message in messages %}
                  <li class="error"><strong>Error:</strong>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
          <div class="break"></div>
            <li>
              <dir class="FormGroup" id="Password">
                {{ form.Password(placeholder="Password") }}
              </dir>
            </li>
          {% if form.Password.errors %}
            <ul class="errors">
              {% for error in form.Password.errors %}
                <li class="error"><strong>Error:</strong>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="errors">
              {% for message in messages %}
                <li class="error"><strong>Error:</strong>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        <div class="break"></div>
          <p>
            <button type="submit" id="SubmitButton" value="Submit">Log In</button>
          </p>
        <body onload="reset"></body>
      </form>
    </ul>
  </div>
{% endblock %}
